<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DocumentMapper">
    <!-- <resultMap type="com.mcfish.entity.common.Document" id="Documents">  
        <id column="id" property="id"/>  
        <result column="cate_id" property="cateId"/>  
        <result column="name" property="name"/>  
        <result column="price" property="price"/>  
        <result column="description" property="description"/>  
        <result column="order_no" property="orderNo"/>  
        <result column="update_time" property="updateTime"/>  
    </resultMap>   -->

<!-- 查寻所有文件 -->
<select id="getDocumentList" parameterType="pd" resultType="com.mcfish.entity.common.Document">
     select a.*, (select count(id) from tb_admin_rule as b ) as total
     from tb_admin_rule as a 
     <where>
         <if test="type!=null and type!='' ">
             a.type=#{type}
         </if>
     </where>
     order by create_time desc 
		<if test="length != null  and length!='' and length != -1">
		    limit #{start},#{length}
		</if>
</select>
</mapper>